body {
    font: normal 1.21em KaTeX_Main, Times New Roman, serif !important;
    font-size: 16px !important;
}

.katex {
    font-size: 16px !important;
}

.mord {
    line-height: 160% !important;
}

summary {
    outline: none!important;
    text-align: left !important;
}

details {
    margin-left: 0px !important;
    background: linear-gradient(to right, #ffffff88 5px, #ffffff00 0) !important;
    text-align: center!important;
}

details summary::-webkit-details-marker {
    display: none !important;
}

img {
    margin: 5px;
    border-radius: 10px;
    filter: invert(1) contrast(60%);
}

body ul li ul li {
    color: rgba(189, 189, 189, 0.829);
}

body ul li ul li ul li {
    color: rgba(255, 255, 255, 0.472);
}

code {
    font-size: 12px;
}